body {
  background-color: blue;
}
header {
  background-color: black;
  color: white;
  margin: 15px;
}
body {
  background-color: black;
  color: white;
  margin: 15px;
}
footer {
  background-color: black;
  color: white;
  margin: 15px;
}

.nav-link {
  text-decoration: none;
}
